/*general*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-image: linear-gradient(-50deg, #93999532,#31a1c4);
	min-height:100vh;
}
/*header*/
header{
    width: 100vw;
    height: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.pagetitle h1{
    color: white;
    font-size: 40px; 
    font-style: bold;
    border-bottom: 3px solid white;  
}    
/*sections*/
main{
	display: flex;
	justify-content: center;
	font-weight: bold;
    font-style: italic;
    color: black;
}
.container{
	background-color: #ccc;
	width: 70%;
	border-radius: 30px;
	padding:20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
/*logo*/
.logo{
    width: 150px;
    height: 150px;
}
/*forms*/
.forms{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.forms input{
    width: 300px;
    height: 40px;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
#country{
    width: 300px;
    height: 40px;
    border: 1px solid #2c2c2c;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    color: black;
}
/*form1*/
.form1{
    margin: 50px;
    font-size: 18px;
}
/*form2*/
.form2{
    margin: 50px;
    font-size: 18px;
}


/*footer*/
/*footer_copy*/
.footer_copy{
    border-top: 1px solid #2c2c2c;
    color:#2c2c2c;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}
.footer_copy a{
    color:#2c2c2c;
    text-decoration: none;
}
.footer_copy{
    background-color: white;
}