
.selo {

    width: 250px;
    height: 70px;
    line-height: 70px;
    background-color: #0F63E0;  
    position: fixed;
    top: 20px;
    left: -70px; 
    text-align: center; 
    transform: rotate(-45deg);
    box-shadow: 0px 0px 10px #2b2b2b;
}

.selo a {
    padding: 20px 70px;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    text-shadow: 0px 2px 3px #2b2b2b;
}
