*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace ;
}
/*Header_Topo*/
header{
    height: 180px;
    background-color:rgb(197, 197, 197);
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;   
    justify-content: center;
    align-items: center;
}
header .title_topo{
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
}
header .subtitle_topo{
    color: black;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
}
/*content*/
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
/*img*/
#imagem{
    border: 20px solid black;
}
.resume{
    margin-left: 200px;
    margin-right: 200px;
}
