*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif ;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
}

/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-content{
    margin: 3px;
    padding: 10px;
    padding-top: 20px;
}
.header-content a{
    text-decoration: none;
    color: #2c2c2c;
    font-size: 13px;
}
.header-content a:hover{
    text-decoration: underline;
}
/*section*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex: 1;
       
}
.section-content{
    display:flex;
    flex-direction: column;
}
.logo{
    margin-bottom: 30px;
}
/*search*/
.access {
    flex:1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.access img {
    margin-right:10px;
    cursor:pointer;
}
.search {
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    display: flex;
    width: 580px;
    height: 45px;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
}
/*input*/
input {
    border: none;
    margin-left: 20px;
    outline: 0;
    border-radius: 50px;
    font-size: 15px;
    width: 450px;
}

/*buttons*/
.buttons button{
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    font-family: 'roboto',sans-serif ;
    margin: 30px;
    padding: 10px 16px 10px 16px;
    font-size: 15px;
    border-radius: 10px;
    color: #404246;
    font-weight: 100;
    cursor: pointer;
}
.buttons button:hover{
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0px 1px 0px #CCC;
    color: #000;
}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 245, 245);
    border-bottom:1px solid #ccc5c5;
    font-family: 'roboto', sans-serif;
}
.footerlocal{
    border-bottom:1px solid #ccc5c5;
    border-top: 1px solid #ccc5c5 ;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    color: #404246;
    margin-left: 5px;
    margin-right:5px;
}
.footersettings{
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footersettings a{
    text-decoration: none;
    font-size: 14px;
    color: #404246;
    margin-left: 5px;
    margin-right:5px;
}

