*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif ;
    height: 100vh;
    width: 100%;
}
/*
    display:flex;
    flex-direction: column;
*/
/*header*/
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-content{
    margin: 3px;
    padding: 10px;
    padding-top: 20px;
}
.header-content a{
    text-decoration: none;
    color: #2c2c2c;
    font-size: 13px;
}
.header-content a:hover{
    text-decoration: underline;
}
/*section*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex: 1;
    margin-top: 100px;
}
.section-content{
    display:flex;
    flex-direction: column;
}
.logo{
    margin-bottom: 30px;
}
/*search*/
.access {
    flex:1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.access img {
    margin-right:10px;
    cursor:pointer;
}
.search {
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    display: flex;
    width: 580px;
    height: 45px;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
}
/*input*/
input {
    border: none;
    margin-left: 20px;
    outline: 0;
    border-radius: 50px;
    font-size: 15px;
    width: 450px;
}

/*buttons*/
.buttons button{
    background-color: #f3f3f3;
    font-family: 'roboto',sans-serif ;
    margin: 30px;
    padding: 10px;
    font-size: 15px;
    border: none;
}
.buttons button:hover{
    border: 1px solid #c7c4c4;
    border-radius: 10px;
}

