/*padrao telas(geral)*/
/*// dispositivos pequenos (celular deitado, 576px para cima)
@media (min-width: 576px) { ... }

// dispositivos medios (tablets, 768px para cima)
@media (min-width: 768px) { ... }

// dispositivos largos (desktops, 992px para cima)
@media (min-width: 992px) { ... }

// dispositivos extra largos (desktop largo, 1200px para cima)
@media (min-width: 1200px) { ... }

Uando max-width

@media (max-width: 575.98px) { ... }

// dispositivos pequenos (celular deitado, menor que 768px)
@media (max-width: 767.98px) { ... }

// dispositivos medios  (tablet, menor que 992px)
@media (max-width: 991.98px) { ... }

// dispositivos largos (desktops, menor que1200px)
@media (max-width: 1199.98px) { ... }*/

*{
    box-sizing: border-box;
}
body{
margin: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.topo{
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: auto;
}
.logoss{
    width: 50%;
    height: 100px;
    float: left;
    background-color:#EEE;
}
.menu{
    /*regulando largura por porcentagem*/
    width: 50%;
    height: 100px;
    float: left;
    background-color: #DDD;
}
.corpo{
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: auto;
    background-color: #CCC;
}
.rodape{
    width: 800px;
    height: 100px;
    margin: auto;
    background-color: #DDD;
}
@media only screen (min-width: 500px) and (max-width: 800px){
    .topo{
        width: 500px;
    }
    .corpo{
        width: 500px;
    }
    .rodape{
        width: 500px;
    }
}
@media only screen and (max-width: 500px){
    .topo{
        height: 200px;
        }
    .menu{
        height: 100%;
    }
    .corpo{
        width: 300px;
    }
    .rodape{
        width: 300px;
    }
}
@media only screen and (max-width: 400px){
    .topo{
        height: 200px;
    }
    .logoss{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
}