*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-wrap: nowrap;*/
    margin: 10px;
}
.container div{
    width: 200px;
    background-color: white;
    color: black;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
