body{
    background-color: #eeeeee;
}
input[type=text]{
    padding: 10px;
    font-size: 14px;
}
.amarelo{
    background-color: yellow;
    color: white;
}
.vermelho{
    background-color: red;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
#telefone{
    display: none;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
