/*
- :02 Grid x Item
- :03 Gaps
- :04 Fr 
- :05 minmax
- :06 

*/

.container{
    display:grid;
    /*grid-template-columns: 1.5fr repeat(3,1fr) 1.5fr;*/
    /* grid-template-columns: repeat(3,1fr 2fr);*/
    /* grid-template-columns: repeat(auto-fill, 200px);*/
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px; 
    background-color: #ccc;
    justify-content:center;
    align-items: stretch;

}

.item{
    background-color:tomato;
    border-radius: 20px;
    font-size: 1em;
    height:3rem;
    padding-top:10px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}
