body{
    text-align: center;
}
span:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
}
span:after {
    content: "^^";
    background-color: blue;
}